@model ImportPasswordVM

<label for="import_input" class="form-label">
    Import Passwords
</label>

<form id="upload_passwords_form"
    asp-action="Upload"
    asp-controller="PasswordManager"
    method="POST"
    enctype="multipart/form-data"
>
    <input class="form-control" type="file" asp-for="FileToUpload" id="import_input">
</form>

<button id="import_passwords_csv" class="btn btn-primary mt-3">Import</button>