@page "/debug"

<PageTitle>Debug</PageTitle>

<h1>Debug</h1>

@* <ul>
    @foreach (var)
</ul> *@

@code {
    protected override void OnInitialized()
    {
        Console.WriteLine("hi");
        Console.WriteLine("hi");
        Console.WriteLine("hi");
    }
}

