

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (User.Identity?.IsAuthenticated ?? false)
    {
        <h1 class="display-4">Welcome</h1>
    }
    else
    {
        <h3>Please sign in to continue</h3>
    }
</div>
