
@{
    var year = DateTime.Now.Year;
}

<footer id="fwc-footer">
    <div class="container">
        <div class="footer-wrap">
            Copyright &copy; @year<br />
            123 Sesame St. • New York City, NY • (111) 111-1111
            <br />
        </div>
    </div>
</footer>