@{
    ViewData["Title"] = "Help";
}

<h1 class="text-center">FAQS</h1>

<div class="overflow-hidden">
    <div class="row gy-3">
        <div class="text-center col-12 fs-3">
            This is a sample question
        </div>
        <div class="text-center col-12 fs-5">
            This is the sample answer to the sample question.
        </div>

        <div class="text-center col-12 fs-3">
            This is a sample question
        </div>
        <div class="text-center col-12 fs-5">
            This is the sample answer to the sample question.
        </div>

        <div class="text-center col-12 fs-3">
            This is a sample question
        </div>
        <div class="text-center col-12 fs-5">
            This is the sample answer to the sample question.
        </div>

        <div class="text-center col-12 fs-3">
            This is a sample question
        </div>
        <div class="text-center col-12 fs-5">
            This is the sample answer to the sample question.
        </div>

        <div class="text-center col-12 fs-3">
            This is a sample question
        </div>
        <div class="text-center col-12 fs-5">
            This is the sample answer to the sample question.
        </div>

        <div class="text-center col-12 fs-3">
            This is a sample question
        </div>
        <div class="text-center col-12 fs-5">
            This is the sample answer to the sample question.
        </div>

        <div class="text-center col-12 fs-3">
            This is a sample question
        </div>
        <div class="text-center col-12 fs-5">
            This is the sample answer to the sample question.
        </div>

        <div class="text-center col-12 fs-3">
            This is a sample question
        </div>
        <div class="text-center col-12 fs-5">
            This is the sample answer to the sample question.
        </div>

        <div class="text-center col-12 fs-3">
            This is a sample question
        </div>
        <div class="text-center col-12 fs-5">
            This is the sample answer to the sample question.
        </div>
    </div>

</div>
